body,html,head{
    margin: 0px;
    padding: 0px;
    border:0px;
}#nav{
     width: 90%;
    margin-left: 5%;
    
    height: 60px;
    
}
ul{
    background-color:  #3e2723;
    list-style-type: none;
    overflow: hidden;
}
li{
    float: left;
    
}
li a{
    display: block;
    padding: 17px 18px;
    text-align: center;
    color: burlywood;
    text-decoration: none;
    
}

li a:hover{
    background-color: #111;
}

#mainBody{
    width: 90%;
    margin-left: 5%;
    background-color: black;
    height: 370px;
    margin-top: -6px;
}

#mainTask{
    background-color: #212121;
    color: white;
    width: 30%;
    
    padding: 2%;
    position: absolute;
    margin-top: 2%;
    margin-left: 28%;
    
}